p {
  margin-block-start: 10px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  border: 0px;
}

button:focus {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  margin: 10px;


}

.header {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 100px 100px;
  grid-template-rows: 75px 75px;
  width: 98vw;

}

.title {
  display: flex;
  margin: 2px;
  padding: 2px;
  grid-column: 2 / 4;
  justify-content: center;
  align-items: flex-end;
  font-weight: 900;
  font-size: 3em;
  color: rgb(95, 95, 95);
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.subtitle {
  display: flex;
  margin-top: 20px;
  grid-column: 2 / 4;
  grid-row: 2;
  justify-content: center;
  align-items: flex-start;
  color: rgb(95, 95, 95);
  margin-block-start: 10px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.whosTurn {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1;
  justify-content: center;
  align-items: end;
  color: rgb(95, 95, 95);
  font-size: 1.5em;
  margin: 0;
}

.reset {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 2;
  color: rgb(95, 95, 95);
  margin-top: 10px;
  justify-content: center;
  font-size: 1em;
}

.gamesWon {
  display: grid;
  grid-column: 4 / 6;
  grid-row: 1;
  justify-content: center;
  align-items: end;
  color: rgb(95, 95, 95);
  font-size: 1.5em;
  margin: 0;
}

.score {
  display: flex;
  grid-column: 4 / 6;
  column-gap: 20px;
  grid-row: 2;
  color: rgb(95, 95, 95);
  justify-content: center;


}

#scoreX {
  display: flex;
  grid-column: 4;
  color: rgb(95, 95, 95);
  font-size: 1.25em;
}

#scoreO {
  display: flex;
  grid-column: 5;
  justify-content: right;
  color: rgb(95, 95, 95);
  font-size: 1.25em;
}

board {
  display: grid;
  height: 80%;
  width: 99vw;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 5em;
  color: rgb(95, 95, 95);
}

.cell0 {
  border-width: 0px 2px 2px 0px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  padding: 0px;
}

.cell1 {
  border-width: 0px 0px 2px 0px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  padding: 0px;
}

.cell2 {
  border-width: 0px 2px 0px 0px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  padding: 0px;

}

.cell3 {
  border-width: 0px 0px 0px 0px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  padding: 0px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: grid;

  grid-template-columns: 98% 2%;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15% auto; /* 15% from the top and centered */
  height: 200px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}

.player1 {
  display: grid;
  grid-row: 1;
  justify-content: center;
  color: rgb(95, 95, 95);

}

.player2 {
  display: grid;
  grid-row: 2;
  justify-content: center;
  color: rgb(95, 95, 95);
}

.player1Label {
  display: grid;
  justify-content: center;
  color: rgb(95, 95, 95);
}

.player2Label {
  padding-top: 20px;
  display: grid;
  justify-content: center;
  color: rgb(95, 95, 95);
}

.play {
  display: grid;
  grid-row: 3;
  justify-self: center;
  margin-top: 20px;
  padding-top: 7px;
  width: 60px;
  height: 30px;
}


/* The Close Button */
.close {
  display: grid;
  grid-column: 2;
  justify-content: right;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=text] {
  display: grid;
  width: 100%;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: middle;
}

